{% extends "layout.html" %}

{% block body %}
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h3 class="mt-4">{{article.title}}</h3>
        <!-- Author -->
          <p class="lead">
            Yazar : 
            {{article.author}}
          </p>
          <hr>
        <!-- Date/Time -->
        <p>{{article.created_date}}</p>
        <hr>
        <!-- Preview Image -->
        {% if article.article_image %}
          <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
        {% endif %}
        <hr>
        <!-- Post Content -->
        <p class="lead">
            {{article.content|safe}}
        </p>
        <hr> 
          {% if comments %}
          <h4>Yorumlar</h4>
          <hr>
            {% for comment in comments %}
               <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}} </h5>
              {{comment.comment_content}}
              <br><br>
              {{comment.comment_date}}
              <hr>
          </div>
        </div> 
            {% endfor %}

             
          {% else %}
            <div class = "alert alert-danger">
            Bu Makalenin Herhangi Bir Yorumu Yoktue.
            </div>
          {% endif %}


        <div class="card my-4">
          <h5 class="card-header">Yorum Yap</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' article.id %}">
              {% csrf_token %}
              <div class="form-group">
              <label for="exampleInputEmail1">İsim</label>
              <input name = "comment_author" type="text" class="form-control" id="comment_author" aria-describedby="emailHelp" placeholder="İsminizi Girin">
              <small id="comment_author" class="form-text text-muted">Yorum Yaparken Lütfen İsminizi Girin</small>
              </div>
              <div class="form-goup">
                <label for="exampleInputEmail1">Yorum</label>
                <textarea name = "comment_content" class="form-control" rows="3" placeholder="Yorumunuzu Girin"></textarea>
              </div>
              <button type="submit" class="btn btn-outline-primary btn-rounded btn-md my-1">Paylaş</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
{% endblock  %}